.background-image {
    width: 100%;
    height: 80px; /* Set the height of the div */
    background-size: cover; /* Cover the entire div with the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: center; /* Center the background image */
  }