body {
    background-color: #222;
    padding: 2rem;
}



.media-set-container {

    // grid-template-columns: repeat(4, 100%);
    // gap: 0.5rem;
    // overflow-x: scroll;
    // scroll-behavior: smooth;
    // scroll-snap-type: x mandatory;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

.media-set {
     display: inline-block;

}

// .media-item {
//     aspect-ratio: 16 / 9;
//     overflow: hidden;
//     border-radius: 0.2rem;

//     >img {
//         width: 100%;
//         object-fit: scale-down;
//     }
// }