<!-- sliders -->
<app-slider [data]="(slidersState$ | async)"></app-slider>

<div class="w-container m-auto">
    <!-- Recommended -->
    <section>
        <!-- heading -->
        <div class="md:flex md:items-center gap-10">
            <h2 class="text-white font-bold text-3xl">Recommended
                <hr class="w-32 mt-2 border-2 border-color-three">
            </h2>
            <div class="tabs mt-8 flex justify-center md:block md:m-0">
                <mat-chip-listbox aria-label="Fish selection">
                    <mat-chip-option (click)="changeType(1)" selected="">Movies</mat-chip-option>
                    <mat-chip-option (click)="changeType(2)">Series</mat-chip-option>
                </mat-chip-listbox>
                <!-- <ul class="flex text-sm font-medium text-center" id="myTab"
                    role="tablist">
                    <li class="mr-2">
                        <span
                            class="cursor-pointer bg-color-secondary text-white text-xs font-medium mr-2 px-6 py-2 rounded"
                            id="movies-tab" data-tabs-target="#movies" type="button" role="tab" aria-controls="movies"
                            aria-selected="false">Movies</span>
                    </li>
                    <li class="mr-2">
                        <span
                            class="cursor-pointer bg-color-secondary text-white text-xs font-medium mr-2 px-6 py-2 rounded"
                            id="series-tab" data-tabs-target="#series" type="button" role="tab" aria-controls="series"
                            aria-selected="false">Tv-shows</span>
                    </li>
                </ul> -->
            </div>
        </div>
        <!-- tag movies or series Recomended-->
        <app-recommended [dataMedia]="(mediaRecommendedState$ | async)"></app-recommended>

    </section>

    <!-- Latest Movies -->
    <section class="mt-14">
        <!-- heading -->
        <div class="flex items-center justify-between text-bold">
            <h2 class="text-white font-bold text-3xl">Latest Movies
                <hr class="w-32 mt-2 border-2 border-color-three">
            </h2>
            <a href="" class="text-white hover:text-color-links font-bold duration-500">
                View all <i class="fa-solid fa-circle-chevron-right"></i>
            </a>
        </div>
        <!-- All cards -->
        <app-latest-movies [dataMedia]="(latsetMoviesState$ | async)"></app-latest-movies>

    </section>
    <!-- Latest Tv-shows -->
    <section class="mt-14">
        <!-- heading -->
        <div class="flex items-center justify-between text-bold">
            <h2 class="text-white font-bold text-3xl">Latest TV-Series
                <hr class="w-32 mt-2 border-2 border-color-three">
            </h2>
            <a href="" class="text-white hover:text-color-links font-bold duration-500">
                View all <i class="fa-solid fa-circle-chevron-right"></i>
            </a>
        </div>
        <!-- All cards -->
        <app-latest-series [dataMedia]="(latsetTvState$ | async)"></app-latest-series>
    </section>
</div>