#casts::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 12px;
	background-color: #fff;
}

#casts::-webkit-scrollbar
{
	width: 10px;
}

#casts::-webkit-scrollbar-thumb
{
	border-radius: 14px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(189 90 212);
}

#productions::-webkit-scrollbar
{
	display: none;
}
