<p>search works!</p>

<!-- <ng-container *ngIf="(mediaState$ | async) as state">
    <ng-container [ngSwitch]="state.appState">
        <ng-container *ngSwitchCase="'app_loaded'">
            <ng-container *ngIf="state.appData?.result?.page?.content as content">
                {{content    | json}}

            </ng-container>

        </ng-container>
        
        <ng-container *ngSwitchCase="'app_error'">
            {{state.appData| json}}
        </ng-container>
    </ng-container>
</ng-container> -->