<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
    <!-- Header -->
    <div class="mb-4 flex justify-between">
        <div class="inline-block">
          <h3 class="font-semibold text-gray-900 dark:text-white">Actors</h3>
          <div class="space-x-1 text-xs font-medium text-gray-400 dark:text-night-300">
            <a href="" class="hover:text-primary-500">Dashboards</a>
            <span> - Actors</span>
          </div>
        </div>
        <div class="inline-block space-x-4">
          <!-- <button
              class="flex-none rounded-md bg-white px-4 py-2.5 text-xs font-semibold text-gray-500 hover:text-primary-500 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500">
              Manage Bids
            </button> -->
          <!-- Modal toggle -->
          <button (click)="FunctionAdd()" id="addCompetitionButton" data-modal-target="addCompetitionModal" data-modal-toggle="addCompetitionModal"
            class="flex-none rounded-md bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600">
            Manage Actors
          </button>
        </div>
    </div>
    <!-- Content -->

    <mat-card style="min-height: 500px;">
        <!-- <mat-card-content>
            <table matSort mat-table [dataSource]="datasource" class="mat-elevation-z8">
                <ng-container matColumnDef="code">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Code</th>
                    <td mat-cell *matCellDef="let element">{{element.id}}</td>
                  </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element">{{element.email}}</td>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef>Phone</th>
                    <td mat-cell *matCellDef="let element">{{element.phone}}</td>
                </ng-container>
                <ng-container matColumnDef="address">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef>Address</th>
                    <td mat-cell *matCellDef="let element">{{element.address}}</td>
                </ng-container>
                <ng-container matColumnDef="group">
                    <th mat-header-cell *matHeaderCellDef>Associate Group</th>
                    <td mat-cell *matCellDef="let element">{{element.associategroup}}</td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>Associate Type</th>
                    <td mat-cell *matCellDef="let element">{{element.type}}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">{{element.status==true?'Active':'In Active'}}</td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <button (click)="FunctionEdit(element.id)" mat-raised-button color="primary">Edit</button>
                        <button (click)="FunctionDelete(element.id)" mat-raised-button color="accent">Delete</button>
                    </td>
                   
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColums"></tr>
                <tr mat-row *matRowDef="let row;columns:displayedColums"></tr>
            </table>
        </mat-card-content> -->
        <!-- <br>
        <mat-card-footer>
            <mat-paginator [pageSizeOptions]="[5,10,50]" showFirstLastButtons></mat-paginator>
        </mat-card-footer> -->
    </mat-card>
</div>