 <!-- card -->
 <div class="cursor-pointer" data-popover-target="popover-media" data-popover-placement="right">
    <!-- content Card -->
    <div>
        <div class="relative">
            <img src="../assets/images/media/kingsman.jpg" alt=" random imgee"
                class="img-media w-full object-cover object-center rounded-lg shadow-md hover:saturate-50 hover:scale-105 hover:duration-500 duration-300">
            <span
                class="bg-color-secondary text-white text-xs font-bold mr-2 px-2.5 py-0.5 absolute top-0 right-0 my-4 uppercase">bluray</span>
            <a href="" class="absolute text-white left-3 top-3 text-2xl hover:text-red-500 duration-500"><i
                    class="fa-solid fa-heart"></i></a>
        </div>
        <div class="my-2">
            <p class="text-lg font-bold text-white">Name Movie</p>
            <div class="flex justify-between items-center text-gray-500">
                <!-- date & min -->
                <div class="flex">
                    <p>2022</p>
                    <span class="font-extrabold mx-2"> . </span>
                    <p>189min</p>
                </div>
                <!-- movie or tv -->
                <span
                    class="bg-gray-700 text-gray-300 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full">Movie</span>
            </div>
        </div>
    </div>
    <!-- popover Card
                <div data-popover id="popover-media" role="tooltip"
                    class="absolute z-10 invisible inline-block w-64 text-sm font-light text-white transition-opacity duration-300 bg-color-primary border rounded-lg shadow-sm opacity-0">
                    <div class="px-3 py-2">
                        <p>And here's some amazing content. It's very engaging. Right?</p>
                    </div>
                    <div data-popper-arrow></div>
                </div> -->
</div>

