<ng-container *ngIf="(mediaState$ | async) as state">
    <ng-container [ngSwitch]="state.appState">
        <ng-container *ngSwitchCase="'app_loaded'">
            <!-- All cards -->
            <ng-container *ngIf="state.appData?.result?.page?.content as content">
                <div class="items-media grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-3 mt-10 my-4">
                    <ng-container *ngFor="let item of content; let i = index">
                        <!-- card -->
                        <a [routerLink]="['/page/watch', item.shortLink]" class="cursor-pointer"
                            data-popover-target="popover-media" data-popover-placement="right">
                            <!-- content Card -->
                            <div>
                                <div class="relative">
                                    <img [src]="'https://image.tmdb.org/t/p/w500' + item.posterPath" alt=" random imgee"
                                        class="img-media w-full object-cover object-center rounded-lg shadow-md hover:saturate-50 hover:scale-105 hover:duration-500 duration-300">
                                    <span
                                        class="bg-color-secondary text-white text-xs font-bold mr-2 px-2.5 py-0.5 absolute top-0 right-0 my-4 uppercase">bluray</span>
                                    <a href=""
                                        class="absolute text-white left-3 top-3 text-2xl hover:text-red-500 duration-500"><i
                                            class="fa-solid fa-heart"></i></a>
                                </div>
                                <div class="my-2">
                                    <p class="text-lg font-bold text-white truncate">{{item.title}}</p>
                                    <div class="flex justify-between items-center text-gray-500">
                                        <!-- date & min -->
                                        <div class="flex">
                                            <p>{{item.releaseDate | date:'yyyy'}}</p>
                                            <span class="font-extrabold mx-2"> . </span>
                                            <p>{{item.duration}}min</p>
                                        </div>
                                        <!-- movie or tv -->
                                        <span
                                            class="bg-gray-700 text-gray-300 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full uppercase">{{item.typeMedia}}</span>
                                    </div>
                                </div>
                            </div>

                            <!-- popover Card
                    <div data-popover id="popover-media" role="tooltip"
                        class="absolute z-10 invisible inline-block w-64 text-sm font-light text-white transition-opacity duration-300 bg-color-primary border rounded-lg shadow-sm opacity-0">
                        <div class="px-3 py-2">
                            <p>And here's some amazing content. It's very engaging. Right?</p>
                        </div>
                        <div data-popper-arrow></div>
                    </div> -->
                        </a>
                    </ng-container>
                </div>


                <!-- pagination -->
                <nav class="flex justify-center mt-14" aria-label="Page navigation example">
                    <ul class="inline-flex -space-x-px">
                        <li [ngClass]="0 == (currentPage$ | async) ? 'disableP' : ''">
                            <a (click)="clickNextOrPrevious('movie', '', 'previous')"
                                class="cursor-pointer px-3 py-2 ml-0 leading-tight border border-gray-300 rounded-l-lg bg-color-primary-75 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">Previous</a>
                        </li>
                        <li
                            *ngFor="let pageNumber of [].constructor(state.appData?.result?.page.totalPages); let i = index">
                            <a (click)="clickNumberPagination('movie', '', i)"
                                class="cursor-pointer px-3 py-2 leading-tight border bg-color-primary-75 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white"
                                [ngClass]="i == (currentPage$ | async) 
                                ? 'bg-gray-700 text-white' 
                                : 'bg-color-primary-75 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white'">
                                {{i+1}}
                            </a>
                        </li>
                        <!-- <li>
                            <a href="#"
                                class="px-3 py-2 leading-tight border border-gray-300 bg-color-primary-75 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">...</a>
                        </li> -->
                        <li
                            [ngClass]="(state.appData!.result!.page!.totalPages - 1) == (currentPage$ | async) ? 'disableP' : ''">
                            <a (click)="clickNextOrPrevious('movie', '', 'next')"
                                class="disabled cursor-pointer px-3 py-2 ml-0 leading-tight border border-gray-300 rounded-r-lg bg-color-primary-75 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">Next</a>
                        </li>
                    </ul>
                </nav>
            </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'app_loading'">loading</ng-container>
        <ng-container *ngSwitchCase="'app_error'">error</ng-container>
    </ng-container>
</ng-container>