<!-- Main Country-->
<div class="w-container m-auto min-h-svh">
    <section class="mt-14">
        <!-- heading -->
        <div class="text-bold flex flex-col gap-5 md:flex-row md:gap-0 md:justify-between md:items-center">
            <h2 class="text-white font-bold text-3xl">{{name}}
                <hr class="w-32 mt-2 border-2 border-color-three">
            </h2>
        </div>


        <!-- All card -->
        <app-media-cards [watchlistKey]="name"></app-media-cards>
    </section>
</div>