<swiper-container navigation="true" speed="1000" css-mode="true" scrollbar="true" autoplay="true" pagination="true" class="swiper mb-10">
    <!-- Additional required wrapper -->
    <!-- Slides -->
    <ng-container *ngIf="data as state">
        <ng-container [ngSwitch]="state.appState">
            <ng-container *ngSwitchCase="'app_loaded'">
                <ng-container *ngIf="state.appData?.result.isEnabled == true">
                    <ng-container *ngFor="let item of state.appData?.result.mediaSet; let i = index">
                        <swiper-slide class="swiper-slide relative">
                            <div class="flex items-center h-screen bg-cover text-white object-cover bg-bottom relative blur-sm brightness-100"
                                [style.background-image]="'url(https://image.tmdb.org/t/p/original' + item.backDropPath + ')'">
                            </div>
                            <div
                                class="text-start flex absolute bottom-52 left-20 backdrop-brightness-50 backdrop-blur-md overflow-hidden rounded-lg max-h-60">
                                <div class="w-40 bg-center bg-no-repeat bg-cover"
                                    [style.background-image]="'url(https://image.tmdb.org/t/p/original' + item.posterPath+ ')'">
                                </div>
                                <div class="p-10">
                                    <span class="font-semibold text-base uppercase">{{item.typeMedia}}</span>
                                    <span
                                        class="text-sm pl-2 pr-2 text-gray-300">{{getDurationInHoursAndMinutes(item.duration)}}</span>
                                    <span
                                        class="bg-color-secondary text-color-links text-xs font-medium mr-2 px-2.5 py-0.5 rounded uppercase">bluray</span>
                                    <p class="text-2xl md:text-3xl font-bold mb-2 w-96 truncate">{{item.title}}</p>
                                    <p>
                                    </p>
                                    <p
                                        class="text-sm mt-3 text-gray-300 mb-6 leading-none text-wrap w-80 h-10 overflow-y-scroll">
                                        {{item.overview}}</p>
                                    <div class="flex gap-3">
                                        <button [routerLink]="['/page/watch', item.shortLink]"
                                            class="text-[8px] bg-color-secondary py-2 px-8 text-white rounded-full font-bold uppercase md:text-sm hover:bg-gray-200 hover:text-gray-800"><i
                                                class="fa-brands fa-google-play"></i> Watch
                                            Now</button>
                                        <button
                                            class="text-[8px] bg-transparent border border-color-three py-2 px-8 text-white rounded-full font-bold uppercase md:text-sm hover:bg-gray-200 hover:text-gray-800"><i
                                                class="fa-regular fa-heart"></i> Add
                                            to list</button>
                                    </div>
                                </div>
                            </div>
                        </swiper-slide>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'app_loading'">
                <app-loading></app-loading>
            </ng-container>
            <ng-container *ngSwitchCase="'app_error'">
            </ng-container>
        </ng-container>
    </ng-container>
</swiper-container>