<!-- B nav -->
<nav class="bg-color-primary-75">
  <div class="flex flex-wrap justify-between px-5 py-1 lg:px-24">
    <a routerLink="/" class="flex items-center">
      <img src="./assets/images/logo_vistrea_icon.png" class="mr-3 h-12 sm:h-14" alt="VISTREAM" />
    </a>

    <div class="flex items-center lg:order-2 lg:gap-5">
      <!-- icon watchlist -->
      <div *ngIf="isLogged" class="mx-2 md:m-0">
        <a [routerLink]="['/page/watchlist']" class="relative">
          <svg
            version="1.0"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="30px"
            height="30px"
            viewBox="0 0 64 64"
            enable-background="new 0 0 64 64"
            xml:space="preserve"
            fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <g>
                <path
                  fill="#ffffff"
                  d="M48,6c-4.418,0-8.418,1.791-11.313,4.687l-3.979,3.961c-0.391,0.391-1.023,0.391-1.414,0 c0,0-3.971-3.97-3.979-3.961C24.418,7.791,20.418,6,16,6C7.163,6,0,13.163,0,22c0,3.338,1.024,6.436,2.773,9 c0,0,0.734,1.164,1.602,2.031s24.797,24.797,24.797,24.797C29.953,58.609,30.977,59,32,59s2.047-0.391,2.828-1.172 c0,0,23.93-23.93,24.797-24.797S61.227,31,61.227,31C62.976,28.436,64,25.338,64,22C64,13.163,56.837,6,48,6z M58.714,30.977 c0,0-0.612,0.75-1.823,1.961S33.414,56.414,33.414,56.414C33.023,56.805,32.512,57,32,57s-1.023-0.195-1.414-0.586 c0,0-22.266-22.266-23.477-23.477s-1.823-1.961-1.823-1.961C3.245,28.545,2,25.424,2,22C2,14.268,8.268,8,16,8 c3.866,0,7.366,1.566,9.899,4.101l0.009-0.009l4.678,4.677c0.781,0.781,2.047,0.781,2.828,0l4.678-4.677l0.009,0.009 C40.634,9.566,44.134,8,48,8c7.732,0,14,6.268,14,14C62,25.424,60.755,28.545,58.714,30.977z"></path>
                <path
                  fill="#ffffff"
                  d="M48,12c-0.553,0-1,0.447-1,1s0.447,1,1,1c4.418,0,8,3.582,8,8c0,0.553,0.447,1,1,1s1-0.447,1-1 C58,16.478,53.522,12,48,12z"></path>
              </g>
            </g>
          </svg>
          <div
            class="absolute -left-2 -top-2 inline-flex h-5 w-5 items-center justify-center rounded-full border-0 border-white bg-red-500 text-xs font-bold text-white dark:border-gray-900">
            {{ watchListData.result.page.content.length }}
          </div>
        </a>
      </div>

      <!-- Search for desktop -->
      <div class="relative" *ngIf="!isNotMobile">
        <app-search-input></app-search-input>
      </div>

      <!-- user -->
      <div class="cursor-pointer">
        <a (click)="showDropDown()">
          <i class="fa-solid fa-circle-user text-2xl text-white md:text-3xl"></i>
        </a>

        <!-- Dropdown menu -->
        <div
          *ngIf="isLogged"
          id="userDropdown"
          [ngClass]="dropDown ? 'absolute' : 'hidden'"
          class="border-1 right-20 z-10 w-44 divide-y divide-gray-500 rounded-lg border-cyan-200 bg-color-primary-75 shadow">
          <div class="px-4 py-3 text-sm text-white">
            <div class="uppercase">{{ detailsUser.firstName }} {{ detailsUser.lastName }}</div>
            <div class="truncate font-medium">{{ detailsUser.email }}</div>
          </div>
          <ul class="py-2 text-sm text-gray-200" aria-labelledby="avatarButton">
            <li>
              <a [routerLink]="['/dashboard']" class="block px-4 py-2 hover:bg-gray-100 hover:text-black">Dashboard </a>
            </li>
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 hover:text-black">Settings</a>
            </li>
          </ul>
          <div class="py-1">
            <button
              (click)="logout()"
              class="block w-full flex-1 px-4 py-2 text-start text-sm text-gray-100 hover:bg-gray-100 hover:text-black">
              Sign out
            </button>
          </div>
        </div>
      </div>

      <button
        data-collapse-toggle="navbar-search"
        type="button"
        class="inline-flex items-center rounded-lg p-2 text-sm text-white lg:hidden"
        aria-controls="navbar-search"
        aria-expanded="false">
        <span class="sr-only">Open menu</span>
        <svg
          class="h-6 w-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>

    <div class="hidden w-full items-center justify-between lg:order-1 lg:flex lg:w-auto" id="navbar-search">
      <!-- Search for mobile -->
      <div class="relative" *ngIf="isNotMobile">
        <app-search-input></app-search-input>
      </div>

      <ul
        class="mt-4 flex flex-col rounded-lg bg-color-primary-75 p-4 lg:mt-0 lg:flex-row lg:space-x-8 lg:border-0 lg:text-sm lg:font-medium">
        <li>
          <a
            [routerLink]="['home']"
            routerLinkActive="text-white bg-color-secondary"
            class="block rounded py-2 pl-3 pr-4 text-gray-400 hover:text-color-links lg:bg-transparent lg:p-0"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="movies"
            routerLinkActive="text-white bg-color-secondary"
            class="block rounded py-2 pl-3 pr-4 text-gray-400 hover:text-color-links lg:bg-transparent lg:p-0"
            >Movies</a
          >
        </li>
        <li>
          <a
            routerLink="series"
            routerLinkActive="text-white bg-color-secondary"
            class="block rounded py-2 pl-3 pr-4 text-gray-400 hover:text-color-links lg:bg-transparent lg:p-0"
            >TV-Series</a
          >
        </li>
        <li>
          <button
            class="block rounded py-2 pl-3 pr-4 text-gray-400 hover:text-color-links lg:p-0 lg:hover:bg-transparent"
            id="genre-menu-dropdown-button"
            data-dropdown-toggle="genre-menu-dropdown">
            Genres
          </button>
          <div
            id="genre-menu-dropdown"
            class="absolute z-10 hidden w-auto rounded-lg bg-color-primary-75 text-sm shadow-lg">
            <div class="grid p-7 pb-0 text-gray-900 lg:pb-4">
              <ul aria-labelledby="mega-menu-dropdown-button">
                <li class="grid grid-cols-4 items-center gap-4">
                  <!-- genres here -->
                  <ng-container *ngIf="genres">
                    <ng-container *ngFor="let genre of genres.result">
                      <a
                        routerLinkActive="bg-color-secondary py-1 text-white rounded text-center"
                        [routerLink]="'/page/genre/' + genre.name"
                        class="text-gray-400 hover:text-color-links">
                        {{ genre.name }}
                      </a>
                    </ng-container>
                  </ng-container>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <button
            class="block rounded py-2 pl-3 pr-4 text-gray-400 hover:text-color-links lg:p-0 lg:hover:bg-transparent"
            id="country-menu-dropdown-button"
            data-dropdown-toggle="country-menu-dropdown">
            Country
          </button>
          <div
            id="country-menu-dropdown"
            class="absolute z-10 hidden w-auto rounded-lg bg-color-primary-75 text-sm shadow-lg">
            <div class="grid p-7 pb-0 text-gray-900 lg:pb-4">
              <ul aria-labelledby="mega-menu-dropdown-button">
                <li class="grid grid-cols-4 items-center gap-4">
                  <!-- countries here -->
                  <ng-container *ngIf="countries">
                    <ng-container *ngFor="let country of countries.result">
                      <a
                        routerLinkActive="bg-color-secondary py-1 text-white rounded text-center"
                        [routerLink]="'/page/country/' + country.name"
                        class="text-gray-400 hover:text-color-links">
                        {{ country.name }}
                      </a>
                    </ng-container>
                  </ng-container>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <!-- <li>
                    <a href="#"
                        class="block py-2 pl-3 pr-4 text-gray-400 rounded lg:hover:bg-transparent hover:text-color-links lg:p-0">About
                        us</a>
                </li> -->
      </ul>
    </div>
  </div>
</nav>
<!-- E nav -->
