<!-- Main Movies-->
<div class="w-container m-auto">
    <section class="mt-14">
        <!-- heading -->
        <div class="text-bold flex flex-col gap-5 md:flex-row md:gap-0 md:justify-between md:items-center">
            <h2 class="text-white font-bold text-3xl">Movies
                <hr class="w-32 mt-2 border-2 border-color-three">
            </h2>
            <div>
                <button data-collapse-toggle="filters"
                    class="text-sm font-medium mr-2 px-2.5 py-0.5 dark:bg-color-secondary dark:text-white">Filter <i
                        class="fa-solid fa-filter text-[13px]"></i></button>
            </div>
        </div>
        <!-- filter -->
        <div id="filters" class="w-full my-10 shadow p-5 rounded-lg bg-color-primary-75 hidden">
            <!-- heading filter -->
            <div class="flex items-center justify-between mt-4">
                <p class="font-bold text-white">
                    Filters
                </p>
                <button
                    class="px-4 py-2 bg-red-600 text-white hover:bg-gray-200 hover:text-gray-900 text-sm font-medium rounded-md">
                    Reset Filter
                </button>
            </div>

            <!-- all dropdowns filter -->
            <div>
                <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 mt-4">
                    <select
                        class="px-4 py-3 w-full rounded-md bg-gray-700 text-gray-300 outline-none focus:bg-color-secondary focus:text-white duration-700 font-medium focus:ring-0 text-sm">
                        <option value="">All Type</option>
                        <option value="">For Rent</option>
                        <option value="">For Sale</option>
                    </select>
                    <select
                        class="px-4 py-3 w-full rounded-md bg-gray-700 text-gray-300 outline-none focus:bg-color-secondary focus:text-white duration-700 font-medium focus:ring-0 text-sm">
                        <option value="">All Type</option>
                        <option value="">For Rent</option>
                        <option value="">For Sale</option>
                    </select>
                    <select
                        class="px-4 py-3 w-full rounded-md bg-gray-700 text-gray-300 outline-none focus:bg-color-secondary focus:text-white duration-700 font-medium focus:ring-0 text-sm">
                        <option value="">All Type</option>
                        <option value="">For Rent</option>
                        <option value="">For Sale</option>
                    </select>
                    <select
                        class="px-4 py-3 w-full rounded-md bg-gray-700 text-gray-300 outline-none focus:bg-color-secondary focus:text-white duration-700 font-medium focus:ring-0 text-sm">
                        <option value="">All Type</option>
                        <option value="">For Rent</option>
                        <option value="">For Sale</option>
                    </select>
                    <select
                        class="px-4 py-3 w-full rounded-md bg-gray-700 text-gray-300 outline-none focus:bg-color-secondary focus:text-white duration-700 font-medium focus:ring-0 text-sm">
                        <option value="">All Type</option>
                        <option value="">For Rent</option>
                        <option value="">For Sale</option>
                    </select>
                </div>
            </div>

            <!-- submit filter -->
            <div class="mt-4">
                <form action="">
                    <button
                        class="px-4 py-2 bg-color-secondary text-white hover:bg-gray-200 hover:text-gray-900 text-sm font-medium rounded-md">
                        Submit
                    </button>
                </form>
            </div>
        </div>
        <!-- All card -->
        <app-media-cards></app-media-cards>
    </section>
    <!-- pagination -->
    <nav class="flex justify-center mt-10" aria-label="Page navigation example">
        <ul class="inline-flex -space-x-px">
            <li>
                <a href="#"
                    class="px-3 py-2 ml-0 leading-tight border border-gray-300 rounded-l-lg bg-color-primary-75 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">Previous</a>
            </li>
            <li>
                <a href="#"
                    class="px-3 py-2 leading-tight border border-gray-300 bg-color-primary-75 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">1</a>
            </li>
            <li>
                <a href="#"
                    class="px-3 py-2 leading-tight border border-gray-300 bg-color-primary-75 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">2</a>
            </li>
            <li>
                <a href="#" aria-current="page"
                    class="px-3 py-2 border border-gray-300 border-gray-700 bg-gray-700 text-white">3</a>
            </li>
            <li>
                <a href="#"
                    class="px-3 py-2 leading-tight border border-gray-300 bg-color-primary-75 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">4</a>
            </li>
            <li>
                <a href="#"
                    class="px-3 py-2 leading-tight border border-gray-300 bg-color-primary-75 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">5</a>
            </li>
            <li>
                <a href="#"
                    class="px-3 py-2 ml-0 leading-tight border border-gray-300 rounded-r-lg bg-color-primary-75 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">Next</a>
            </li>
        </ul>
    </nav>
</div>