<!-- Main Movies-->
<div class="w-container m-auto min-h-svh">
    <section class="mt-14">
        <!-- heading -->
        <div class="text-bold flex flex-col gap-5 md:flex-row md:gap-0 md:justify-between md:items-center">
            <h2 class="text-white font-bold text-3xl">Movies
                <hr class="w-32 mt-2 border-2 border-color-three">
            </h2>
            <div>
                <button (click)="btnShowFilter()" data-collapse-toggle="filters"
                    class="text-sm font-medium mr-2 px-2.5 py-0.5 bg-color-secondary text-white rounded">Filter <i
                        class="fa-solid fa-filter text-[13px]"></i></button>
            </div>
        </div>

        <!-- filter -->
        <ng-container *ngIf="toggleFilter">
            <app-filter></app-filter>
        </ng-container>

        <!-- All card -->
        <app-media-cards [typeMediaSend]="typeMedia"></app-media-cards>

    </section>


</div>