<ng-container *ngIf="(mediaState$ | async) as state">
    <ng-container [ngSwitch]="state.appState">
        <ng-container *ngSwitchCase="'app_loaded'">
            <!-- All cards -->
            <ng-container *ngIf="state.appData?.result?.page?.content as content">
                <app-card [data]="content"></app-card>

                <!-- pagination -->
                <div id="pagination-home" class="flex justify-end w-full bg-white mt-9">
                    <p-paginator (onPageChange)="onPageChange($event)" [first]="first"
                        [rows]="state.appData?.result?.page?.size"
                        [totalRecords]="state.appData?.result?.page?.totalPages * state.appData?.result?.page?.size"
                        ></p-paginator>
                </div>

                <!-- pagination -->
                <!-- <nav class="flex justify-center mt-14" aria-label="Page navigation example">
                    <ul class="inline-flex -space-x-px">
                        <li [ngClass]="0 == (currentPage$ | async) ? 'disableP' : ''">
                            <a (click)="clickNextOrPrevious(typeMediaSend, '', 'previous')"
                                class="cursor-pointer px-3 py-2 ml-0 leading-tight border border-gray-300 rounded-l-lg bg-color-primary-75 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">Previous</a>
                        </li>
                        <li
                            *ngFor="let pageNumber of [].constructor(state.appData?.result?.page.totalPages); let i = index">
                            <ng-container *ngIf="i == 10">
                            </ng-container>
                            <a (click)="clickNumberPagination(typeMediaSend, '', i)"
                                class="cursor-pointer px-3 py-2 leading-tight border bg-color-primary-75 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white"
                                [ngClass]="i == (currentPage$ | async) 
                                ? 'bg-gray-700 text-white' 
                                : 'bg-color-primary-75 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white'">
                                {{i+1}}
                            </a>
                        </li>

                        <li
                            [ngClass]="(state.appData!.result!.page!.totalPages - 1) == (currentPage$ | async) ? 'disableP' : ''">
                            <a (click)="clickNextOrPrevious(typeMediaSend, '', 'next')"
                                class="disabled cursor-pointer px-3 py-2 ml-0 leading-tight border border-gray-300 rounded-r-lg bg-color-primary-75 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">Next</a>
                        </li>
                    </ul>
                </nav> -->
            </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'app_loading'">
            <app-loading></app-loading>
        </ng-container>

        <ng-container *ngSwitchCase="'app_error'">error</ng-container>
    </ng-container>
</ng-container>